type=overlay

[layer]
type=layer
x=457
y=256
width=53
height=41

[skull]
layer=layer
type=graphic
x=15
y=0
width=25
height=25
graphic=headicons_pk,0

[status]
layer=layer
type=text
x=17
y=24
width=20
height=4
center=yes
font=p12_full
shadowed=yes
colour=0xFFFF00
